/* Menu bar  */
.menu-bar {
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Change this to your desired background color */
  height: 20px; /* Change this to your desired height */
  color: #333; /* Change this to your desired text color */
  position: fixed;
  /* Add any other styles you want */
}
.menu-body {
  text-align: center;
  color: white;
}

/* Container of images */
#container {
  height: 100%; 
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
}
/* Size of modal box */
@media screen {
  .modal-dialog {
    max-width: 70%;
    min-width: 70%;
  }
  .modal-content {
    max-height: 90%;
  }
}
.modal-body {
  background-color: #FFFFFF;
  margin-bottom: 0;
  height:100%;
  width: 100%;
  text-align: center;
  /* Adds scroll if text overflows */
  overflow: auto;
}
/* Images inside modal */
.modal-body > .img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width:90%;
  max-height: 70%
}
.modal-content {
  height: 100%;
}
/* Text inside modal */
.modal .text-center {
  max-width: 90%;
  margin: 0 auto; 
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.landing-div {
  position: absolute;
  width: 250px;
  height: 250px;
  /* Scales with screen size */
  max-width: 20%;
  border-radius: 10px;
  visibility: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.hover-light:hover {
  opacity:0.5;
}
/* Works on Chrome, safari, not Firefox*/
::-webkit-scrollbar {
  background: inherit;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:lightgray;
}
/* Remove a tag styling */
a:link {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

/* Add indentation to submenu */
.submenu {
  margin-left: 10px;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

/* Size of images in carousel */
.carousel .carousel-item img {
  height: 70%
}
.control-arrow-left {
  position: absolute;
  right: 12%;
  font-size: 16px;
}
.control-arrow-right {
  position: absolute;
  right: 10%;
  font-size: 16px;
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
}

/* Collapser in modal */
#collapser {
  position: absolute;
  left: 10%;
}
#plus {
  font-size: 20px;
}
#minus {
  font-size: 20px;
}

/* Collapsed description */
.custom-card {
  background-color: transparent !important;
  font-size: 12px !important; /* This will inherit the font size from the parent */
  text-align: left !important;
}

/* Mobile styling */
@media (max-width: 576px) {
  #myModal {
    margin: 0 auto; 
    margin-left: 0;
    margin-right: 0;
  }
  .modal-dialog {
    left: 25%;
    max-width: 70%;
  }
  .modal-content {
    max-height: 70%;
    min-width: 90%;
    max-width: 90%;
  }
  .control-arrow-left {
    position: absolute;
    right: 15%;
    font-size: 12px;
  }
  .control-arrow-right {
    position: absolute;
    right: 10%;
    font-size: 12px;
  }
  #collapser {
    position: absolute;
    left: 10%;
  }
  #plus {
    font-size: 14px;
  }
  #minus {
    font-size: 14px;
  }
  /* Images inside modal */
  .modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 70%
  }
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}