#container {
  left: 10%;
  width: 1000px;
  height: 1000px; 
  background-color: #f7f8e6;
}
/* Size of modal box */
@media screen {
  .modal-dialog {
    min-width: 35%;
    max-width: 35%;
  }
}
.modal-body {
  background-color: #d0efc4;
  margin-bottom: 0;
  height:100%;
  width: 100%;
  text-align: center;
}
.modal-body > .img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width:90%;
}
.modal-content {
  height: 100%;
}
/* Text inside modal */
.modal .text-center {
  max-width: 90%;
  margin: 0 auto; 
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.landing-div {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  visibility: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
#menu {
  position: absolute; 
  top: 0; 
  left: 0;
  padding: 30px;
  font-size: 18px;
}

